/* Секция преимуществ */
.section-benefit {
  // padding-bottom: 0;
}

.benefits {
  // display: flex;
}

.benefits__item {
  margin: auto;
  width: 450px;
  // width: 270px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.benefits__item + .benefits__item {
  // margin-left: 30px;
}

.benefits-frame {
  @include centeredFlex();
  height: 120px;
  margin-bottom: 30px;
  background: $light-background-color;
  border-radius: 4px;
}

.benefits-title {
  margin: 0 0 10px 0;
  color: $title-text-color;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
