/* Постоянные клиенты */
// .client-section {
//   margin-left: auto;
//   margin-right: auto;
// }

.clients-list {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.clients-list__item {
  @media screen and (max-width: 767px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

.clients-list__item + .clients-list__item {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.clients-list__link {
  @include centeredFlex();
  width: 100%;
  // max-width: 210px;
  height: 92px;
  border: 1px solid $icon-color;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
    outline: none;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 92px;
  }
}

.clients-list__icon {
  fill: $icon-color;
  transition: fill $transition-duration $transition-timing-function;

  .clients-list__link:hover &,
  .clients-list__link:focus & {
    fill: $accent-color;
  }
}
