/* Секция чем мы занимаемся */
.work-section {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.work-list {
  // display: flex;
}
.work-list__item {
  // width: 370px;
  position: relative;
}
.work-list__item + .work-list__item {
  // margin-left: 30px;
}
.work-list__overlay {
  position: absolute;
  bottom: 0;
  // @include centeredFlex();
  // width: 100%;
  // height: 70px;
  background-color: $work-overlay-color;
}
.work-list__content {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: $primary-white-color;
}
